
#column {
    margin-top: 100px;
    height: 100%;
    margin-bottom: 100px;
}

.text-about{
    font-size: 50px;
    margin-left: 275px;
}

pre{
    margin-left: 275px;
    font-size: 18px;
    padding-top: 20px;
}

#bodytextonpic{
    padding-bottom: 275px;
    text-align: left;
}

#btwh{
    width: 250px;
    height: 65px;
    font-size: 25px;
}

h5{
    font-size: 75px;
}
p{
    font-size: 60px;
}