
#column {
    margin-top: 100px;
    height: 100%;
    margin-bottom: 100px;
}

.text-about{
    font-size: clamp(32px, 2.5vw ,50px);
}

pre{
    font-size: clamp(12px, 2.5vw ,18px);
}

#bodytextonpic{
    padding-top: 25rem;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    #btwh {
        width: auto;
        height: auto;
        font-size: clamp(5px, 2.5vw 25px);
        border: none;
    }
  }

h5{
    font-size: clamp(24px, 2.5vw ,75px);
}

#cbbody {
    background-color: transparent !important;
    border: none;
    padding-bottom: 30% auto 0;
}

.card{
    padding-left: auto;
    background-color: transparent !important;
    border: none;
}

.card-body #textabout{
    margin: auto;
    padding: auto;
    padding-top: 5px;
    margin-left: 3px;
}

.card-footer{
    background-color: rgb(185, 185, 185);
    padding-top: 10rem;
    padding-bottom: 10rem;
}

#footpic{
    padding-top: 5%;
    padding-bottom: 5%;
}

.card-text{
    font-size: clamp(12px, 2.5vw ,50px);
}